html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  --bs-dark: var(--nat-navbar-bg);
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  background: fixed center url("../../public/wod-banyans-background.png");
  background-size: cover;

}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Set up some CSS variables to theme the application. */
:root {
  --nat-navbar-bg: #34014e;
  --nat-navbar-bg-rgb: 52, 1, 78;
  --nat-navbar-highlight-text: #ffcc00;
  --nat-navbar-text-color: white;
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}

body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

.bg-dark a.dropdown-item {
  color: var(--nat-navbar-bg);
}
